* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.app {
  min-height: 100vh;
  transition: 0.3s;
}
.app.light {
  background: #ffffff;
  color: #111111;
}
.app.dark {
  background: #111111;
  color: #ffffff;
}
nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

main {
  min-height: calc(100vh - 80px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  padding: 12px 20px;
  cursor: pointer;
}
